/* font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');


body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #191A19;
    color: #F7ECDE;
    cursor: none;
}

a {
    color: #F7ECDE;
}

a:hover {
    color: #F7ECDE;
}

.nav-link {
    color: #F7ECDE;
}

.nav-link:hover {
    color: #F7ECDE;
}

#title {
    font-size: 70px;
}

hr {
    border: 2  px solid #F7ECDE;
}

::selection {
    background: #F7ECDE;
    color: #191A19;
}

#getInTouch:after {
    content: "Get in touch";
}

#getInTouch:hover {
    cursor: pointer;
}

#getInTouch:hover:after {
    content: "Copy email?";
}

#getInTouch:active:after {
    content: "Copied!";
}

#copyEmail:after {
    content: "Email";
}

#copyEmail:hover {
    cursor: pointer;
}

#copyEmail:hover:after {
    content: "Copy email?";
}

#copyEmail:active:after {
    content: "Copied!";
}

/* noice effect */
.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;      
    pointer-events: none;
    background: url(Images/noise_3.gif);
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F7ECDE;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}