/* font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');


body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #191A19;
    color: #F7ECDE;
}

a {
    color: #F7ECDE;
}

a:hover {
    color: #F7ECDE;
}

.nav-link {
    color: #F7ECDE;
}

.nav-link:hover {
    color: #F7ECDE;
}

#title {
    font-size: 70px;
}

hr {
    border: 2  px solid #F7ECDE;
}

::selection {
    background: #F7ECDE;
    color: #191A19;
}   